/* styles.css */

body.inicio {
    background-image: url('./img/background1.jpg');
    background-size: 70% 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    background-image: url('./img/background2.jpg');
    background-size: 70% 100%;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #1c92ed;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    margin-left: 20vw;
    margin-right: 20vw;
    padding: 10px;
    
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #02af04;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

table {
    width: 50%;
    border-collapse: separate;
    margin-top: 20px;
    margin-left: 220px;
}

table, th, td {
    border: 3px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

.icono {
    width: 90px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción */
    vertical-align: middle; /* Alinea la imagen con el texto */
        
}

input, textarea {
    resize: none; /* Deshabilita la opción de redimensionar el cuadro de texto */
    display: block;  /* Asegura que los inputs y textareas se alineen uno debajo del otro */
    width: 50%;     /* Opcional: Ajusta el ancho de los elementos */

}